ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
/log/
**/__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
ros2_ws/build/*
ros2_ws/install/*
ros2_ws/log/*
ros2_ws//src/build/*
ros2_ws/src/install/*
ros2_ws//src/log/*
ps4_ws/*
