ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

manipulator_ws/build/
manipulator_ws/install/
manipulator_ws/log/

manipulator_ws/src/build/
manipulator_ws/src/install/
manipulator_ws/src/log/

/log/
**/__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
